<h4>Services</h4>

{{#if nagios_services_empty}}
	{{allok-service message="All Services are OK"}}
{{/if}}

{{#if nagios_services_unacked_empty}}
	{{allok-service message="All Services are OK"}}
{{/if}}

{{#each service in content}}
	{{#unless service.acknowledged}}
		{{service-issue service=service}}
	{{/unless}}
{{/each}}

<h4>ACKed</h4>

{{#if nagios_services_acked_empty}}
	{{allok-service message="No ACKed services"}}
{{/if}}

{{#each service in content}}
	{{#if service.acknowledged}}
		{{service-issue service=service}}
	{{/if}}
{{/each}}

<div>
{{outlet}}
</div>