<div {{bind-attr id="my_custom_id" class="statusClassBorder :service-item isSoft:isSoft :animated :bounceInLeft"}}>
	

	<div {{bind-attr class="isSoft:isSoft"}}>
	
    <div {{bind-attr  class="statusClassBorder :service-item-time-ago :displayNone"}}>
        {{{diff_clean}}}
    </div>

{{#if isSoft}}
{{#if isCritical}}
    <div class="timer-critical">
		<div class="cover circle cover-60s"></div>
		<div class="color-left color-critical circle cover-60s"></div>
		<div class="color-right color-critical circle"></div>
	</div>
{{else}}
    <div class="timer-warning">
		<div class="cover circle cover-60s"></div>
		<div class="color-left color-warning circle cover-60s"></div>
		<div class="color-right color-warning circle"></div>
	</div>
{{/if}}
{{/if}}

	<div class="service-item-details">
	
		{{last_state_change_clean}}
		{{service_description}} on
		{{host_name}} ({{host_address}}){{host_address_2}}<br>
				
		<span {{bind-attr class="statusClassText"}}>
			{{state_type_text}} {{stateText}} - {{service_plugin_output_clean}} for {{{diff_clean}}}
		</span>
		
{{#if acknowledged}}
		<div>
			<span class="acked">Acked by <strong>{{comments_with_info_1}}</strong> comments: "<strong>{{comments_with_info_2}}</strong>"</span>
		</div>
{{/if}}

		<div class="date-details">
			Next Check: {{next_check_clean}}<br>
            Last State Change: {{last_state_change_clean}}<br>
            Last Check: {{last_check_clean}}
    	</div>
		
	</div>
	</div>
</div>