

<div {{bind-attr  class="service.stateClassBorder :service-item service.isSoft:isSoft :animated :bounceInRight"}}>
	
	<div {{bind-attr class="service.isSoft:isSoft"}}>


    <div {{bind-attr  class="service.stateClassBorder :service-item-time-ago"}}>
    	{{#if service.isSoft}}<span class="soft-alarm-text">Soft Alarm</span> -{{/if}}

        {{{service.diff_clean}}}
    </div>


	<div class="service-item-details">
	
{{#if service.acknowledged}}
		<div class="acked">
			Acked by <strong>{{comments_with_info_1}}</strong> "<strong>{{comments_with_info_2}}</strong>"
		</div>
{{/if}}
		<div>
			<span {{bind-attr class="service.stateClassText :service-item-state-text"}}>{{service.description}}</span> on {{service.host_name}} {{#if hostNameAndHostAddressDifferent}}({{service.host_address}}){{/if}}
		</div>
				
		<span {{bind-attr class="service.stateClassText :service-item-state-text"}}>
			{{service.state_type_text}} {{stateText}} - {{service.plugin_output}}
		</span>
		


		<div class="date-details">
			Last Check: {{service.last_check_clean}}<br>
			Next Check: {{service.next_check_clean}}
            
            
    	</div>
		
	</div>
	</div>
</div>