

<div {{bind-attr  class="statusClassBorder :service-item isSoft:isSoft :animated :bounceInRight"}}>
	
	<div {{bind-attr class="isSoft:isSoft"}}>

id: {{service.id}}

    <div {{bind-attr  class="statusClassBorder :service-item-time-ago"}}>
    	{{#if isSoft}}<span class="soft-alarm-text">Soft Alarm</span> -{{/if}}

        {{{diff_clean}}}
    </div>


	<div class="service-item-details">
	
{{#if service.acknowledged}}
		<div class="acked">
			Acked by <strong>{{comments_with_info_1}}</strong> "<strong>{{comments_with_info_2}}</strong>"
		</div>
{{/if}}
		<div>
			<span {{bind-attr class="statusClassText :service-item-state-text"}}>{{service.description}}</span> on {{service.host_name}} {{#if hostNameAndHostAddressDifferent}}({{service.host_address}}){{/if}}
		</div>
				
		<span {{bind-attr class="statusClassText :service-item-state-text"}}>
			{{service.state_type}}{{service.state_type_text}} {{service.state}} {{stateText}} - {{service.plugin_output}} for {{{diff_clean}}}
		</span>
		


		<div class="date-details">
			Last Check: {{service.last_check}} {{last_check_clean}}<br>
			Next Check: {{service.next_check}} {{next_check_clean}}
            
            
    	</div>
		
	</div>
	</div>
</div>